In [1]:
#Fdf

In [2]:
import tweepy
import pandas as pd
#import Tkinter
import tkinter
consumer_key = 'yPi4sXv6bOnI2qZslqnE6Nvp3'
consumer_secret = '2QdISUumNzUKuymjGFvS821rigifQQO2rkpQFxm22ChPu20Agn'
access_token = '994309349689516034-eAIff4Liu0PCEEcsKcUm2Qw2KT7lnbY'
access_token_secret = 'ReNZUPrCy5ziDjJR2x2lGR6q3d9E3oQU3FKYBAB83Bh6x'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)
user = api.me()
print (user.name)

electionfyp

In [3]:
df = pd.DataFrame(columns=['text', 'source', 'url'])
msgs = []
msg =[]

for tweet in tweepy.Cursor(api.search, q='#bmw', lang='en',rpp=100).items(10):
    msg = [tweet.text, tweet.created_at, "bmw"] 
    msg = tuple(msg)                    
    msgs.append(msg)
df2 = pd.DataFrame(msgs)
df2.columns = ['Text', 'time','topic']

In [4]:
df2

                                                Text                time topic
0  drinks run  #vagmen #vagmengroup #vw #golf #g... 2019-03-24 11:51:34   bmw
1  RT @BMW: Generations of experience. The all-ne... 2019-03-24 11:50:09   bmw
2  For sale -&gt; 2015 #BMW #3-Series in #SaltLak... 2019-03-24 11:50:01   bmw
3  RT @BMW: Generations of experience. The all-ne... 2019-03-24 11:47:10   bmw
4  New #BMW 1 Series will be unveiled this year h... 2019-03-24 11:45:33   bmw
5  RT @BMW_Classic: Happy 80th Birthday, Jochen #... 2019-03-24 11:42:00   bmw
6  RT @BMW: Generations of experience. The all-ne... 2019-03-24 11:32:55   bmw
7  The all-new #BMW #3Series Sedan. https://t.co/... 2019-03-24 11:32:42   bmw
8  RT @tom_blomqvist: Pole and a 3rd place to end... 2019-03-24 11:32:25   bmw
9  Out of hibernation ready to go #bmw #bmwz3 #zr... 2019-03-24 11:31:27   bmw

In [6]:
df2['Text']

0    drinks run  #vagmen #vagmengroup #vw #golf #g...
1    RT @BMW: Generations of experience. The all-ne...
2    For sale -&gt; 2015 #BMW #3-Series in #SaltLak...
3    RT @BMW: Generations of experience. The all-ne...
4    New #BMW 1 Series will be unveiled this year h...
5    RT @BMW_Classic: Happy 80th Birthday, Jochen #...
6    RT @BMW: Generations of experience. The all-ne...
7    The all-new #BMW #3Series Sedan. https://t.co/...
8    RT @tom_blomqvist: Pole and a 3rd place to end...
9    Out of hibernation ready to go #bmw #bmwz3 #zr...
Name: Text, dtype: object

In [12]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

In [14]:
df2['Text_punct'] = df2['Text'].apply(lambda x: remove_punct(x))
df2.head(10)

,Text,time,topic,Text_punct
0,drinks run #vagmen #vagmengroup #vw #golf #g...,2019-03-24 11:51:34,bmw,drinks run vagmen vagmengroup vw golf gti vw...
1,RT @BMW: Generations of experience. The all-ne...,2019-03-24 11:50:09,bmw,RT BMW Generations of experience The allnew BM...
2,For sale -&gt; 2015 #BMW #3-Series in #SaltLak...,2019-03-24 11:50:01,bmw,For sale gt BMW Series in SaltLakeCity UT ht...
3,RT @BMW: Generations of experience. The all-ne...,2019-03-24 11:47:10,bmw,RT BMW Generations of experience The allnew BM...
4,New #BMW 1 Series will be unveiled this year h...,2019-03-24 11:45:33,bmw,New BMW Series will be unveiled this year htt...
5,"RT @BMW_Classic: Happy 80th Birthday, Jochen #...",2019-03-24 11:42:00,bmw,RT BMWClassic Happy th Birthday Jochen Neerpas...
6,RT @BMW: Generations of experience. The all-ne...,2019-03-24 11:32:55,bmw,RT BMW Generations of experience The allnew BM...
7,The all-new #BMW #3Series Sedan. https://t.co/...,2019-03-24 11:32:42,bmw,The allnew BMW Series Sedan httpstcoheAfhefht
8,RT @tom_blomqvist: Pole and a 3rd place to end...,2019-03-24 11:32:25,bmw,RT tomblomqvist Pole and a rd place to end the...
9,Out of hibernation ready to go #bmw #bmwz3 #zr...,2019-03-24 11:31:27,bmw,Out of hibernation ready to go bmw bmwz zroads...